site_name: job-posting-agent
repo_url: https://github.com/Avngrstark62/job-posting-agent
site_url: https://Avngrstark62.github.io/job-posting-agent
site_description: A multi-agent AI crew that automates the research and generation of tailored job descriptions for specified roles and requirements.
site_author: Abhijeet Singh Thakur
edit_uri: edit/main/docs/
repo_name: Avngrstark62/job-posting-agent
copyright: Maintained by <a href="https://Avngrstark62.com">Avngrstark62</a>.

nav:
  - Home: index.md
  - Modules: modules.md
plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          paths: ["src/job_posting_agent"]
theme:
  name: material
  feature:
    tabs: true
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: white
      accent: deep orange
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: deep orange
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  icon:
    repo: fontawesome/brands/github

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/Avngrstark62/job-posting-agent
    - icon: fontawesome/brands/python
      link: https://pypi.org/project/job-posting-agent

markdown_extensions:
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
